
/*-----------------------------------------------------------
 *    		./views/painel/painel_view - Login Form
 ------------------------------------------------------------*/
.login-form{
	margin-top: 150px;
}

.btn-submit{
	margin:10px;
}

.alert p{
	margin: 0px !important;
}